$white: #FAF8F2;
$black: #000000;
$gold: #FFD700;
$orange: #FFA500;

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'Roboto';
  height: 100%;
  margin: 0;
  width: 100%;
}

.Smiley-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.Smiley {
  background-color: $gold;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  transition: background-color 0.2s linear;
  &.is-on-border {
    background-color: $orange;
  }
}
